
ErrorDocument 404 /INTER/ADMIN/errors/error_404.php

<Files .htaccess>

order allow,deny

deny from all

</Files>

Options All -Indexes

Options +FollowSymlinks

RewriteEngine On

RewriteRule	^/$	/ADMIN	[L]	