html, body{
	margin:				0;
	padding:			0;
	font-family:		'Cabin Condensed';
	background:			#014040;
	overflow:			hidden;
}

#content{
	display:			block;
	margin:				0 auto;
	height:				100vh;
	background:			white;
	padding-top:		6.5%;
	box-shadow:			0 0 10px black;
}

#login{
	display:			block;
	position:			relative;
	margin:				0 auto;
	width:				50%;
	height:				61.11%;
}

#img{
	display:			block;
	position:			relative;
	margin-bottom:		18.18%;
	height:				36.36%;
	width:				100%;
	filter:				drop-shadow(0 0 5px black);
	background-image:	url('../images/logo.png');
	background-size:	contain;
	background-position:center;
	background-repeat:	no-repeat;
}

#error{
	display:			block;
	margin:				0 auto;
	color:				red;
	text-transform:		uppercase;
	font-weight:		bold;
	text-align:			center;
    height:				2em;
}

#login .infos{
	display:			block;
	position:			relative;
	height:				9%;
	width:				100%;
	text-align:			center;
	font-size:			1.5em;
}

#login .info[type=button]{
	display:			block;
	position:			relative;
	width:				50%;
	margin:				0 auto;
}

#stayLog{
	height:				9%;
    text-align:			center;
	font-size:			1.5em;
}